<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../public/icon/api.svg" type="image/svg+xml" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/2.2.2/css/dataTables.dataTables.min.css"
    />

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script>

    <style>
      .typing-container {
        font-size: 24px;
        font-weight: bold;
        border-right: 3px solid white;
        white-space: nowrap;
        overflow: hidden;
        width: fit-content;
      }
    </style>

    <title>WEB SERVICE | DMS</title>
  </head>
  <body class="bg-gray-800">
    <div class="container-fluid h-screen bg-gray-800 p-10">
      <div class="typing grid justify-center my-5">
        <div class="typing-container text-white text-4xl font-bold"></div>
      </div>

      <table
        id="dataTable"
        class="w-full text-left table-auto min-w-max bg-white mb-5"
      >
        <thead>
          <tr class="border-b border-slate-300 bg-slate-50">
            <th class="font-bold p-4 text-sm leading-none text-slate-500">
              NO
            </th>
            <th class="font-bold p-4 text-sm leading-none text-slate-500">
              METHOD
            </th>
            <th class="font-bold p-4 text-sm leading-none text-slate-500">
              ENDPOINT
            </th>
            <th class="font-bold p-4 text-sm leading-none text-slate-500">
              URL
            </th>
          </tr>
        </thead>
        <tbody id="table-body"></tbody>
      </table>
    </div>

    <script>
      const text = "Server Backend DMS Kloudia is Running ... ";
      const typingContainer = document.querySelector(".typing-container");
      let index = 0;

      function typeEffect() {
        if (index < text.length) {
          typingContainer.textContent += text[index];
          index++;
          setTimeout(typeEffect, 100);
        } else {
          setTimeout(() => {
            typingContainer.textContent = "";
            index = 0;
            typeEffect();
          }, 2000);
        }
      }

      typeEffect();

      async function fetchData() {
        try {
          const response = await fetch("/api/routes-data");
          const data = await response.json();
          populateTable(data);
        } catch (error) {
          console.error("Error fetching data:", error);
        }
      }

      function populateTable(data) {
        const tableBody = document.getElementById("table-body");
        tableBody.innerHTML = "";

        data.forEach((item, index) => {
          const row = document.createElement("tr");
          row.classList.add("hover:bg-slate-50");

          row.innerHTML = `
            <td class="p-4 border-b border-slate-200 py-5">${index + 1}</td>
            <td class="p-4 border-b border-slate-200 py-5">${item.method}</td>
            <td class="p-4 border-b border-slate-200 py-5">
              <p class="block font-semibold text-sm text-slate-800">${
                item.path
              }</p>
            </td>
            <td class="p-4 border-b border-slate-200 py-5">
              <p class="text-sm text-slate-500">http://192.168.9.192:3000/api/master${
                item.path
              }</p>
            </td>
          `;

          tableBody.appendChild(row);
        });

        // Inisialisasi DataTable dengan konfigurasi
        new DataTable("#dataTable", {
          paging: true,
          searching: true,
          ordering: true,
          info: true,
          lengthMenu: [10, 20, 50, 100],
          columnDefs: [
            { targets: 0, orderable: false },
            { targets: 1, className: "text-center" },
          ],
          language: {
            search: "Cari:",
            lengthMenu: "Tampilkan _MENU_ API",
            info: "Menampilkan _START_ sampai _END_ dari _TOTAL_ API",
            infoEmpty: "Tidak ada data tersedia",
            paginate: {
              next: "Berikutnya",
              previous: "Sebelumnya",
            },
          },
          dom:
            "<'flex justify-between mb-3 bg-gray-200 p-3 rounded-md'<'length-selector'l><'search-box me-4 rounded-xl'f>>" +
            "<'overflow-x-auto'<'table-container'tr>>" +
            "<'flex items-center justify-between bg-gray-200 p-3 rounded-md mt-5'<'info-text'i><'pagination-nav'p>>",
        });
      }

      fetchData();
    </script>
    <script src="https://cdn.datatables.net/2.2.2/js/dataTables.min.js"></script>
  </body>
</html>
